networks/*
notes.txt
!networks/SmallGrid_net_times_32_steps.txt
!networks/ChicagoSketch_net.pkl
!networks/SiouxFalls_net.txt
!networks/Braess_net.txt
!networks/SiouxFalls_net.pkl
!networks/SmallGrid_activities.txt
!networks/SmallGrid_net_times.txt
!networks/SmallGrid.pkl
*.pyc
