networks/*
!networks/ChicagoSketch_net.pkl
!networks/SiouxFalls_net.txt
!networks/Braess_net.txt
!networks/SiouxFalls_net.pkl
!networks/SmallGrid_activities.txt
!networks/SmallGrid_net_times.txt
*.pyc
